@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #efefef;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5D5FEF;
    padding: 5px 5%;
    position: sticky;
    top:0;
    z-index: 100;
}

.logo{
    width: 40px;
    margin-right: 50px;
}

.nav-left-side{
    display: flex;
    align-items: center;
    width: 70vw;
}

.nav-icon{
    width: 25px;
    height:25px;
}

.search-bar{
    background: #efefef;
    width: 30vw;
    border-radius:20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-bar input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.nav-right-side{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;

}
.nav-links{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #efefef;
    font-size: 12px;
}

.nav-profile img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.online{
    position: relative;
}

.online::after{
    content:'';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    top:0;
    right:0;
}

.container{
    display: flex;
    justify-content: space-between;
}

.suggestion{
    display: flex;
    font-size: 14px;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-between;
    align-items: center;
}

.suggestion img{
    border-radius: 15px;
    width: 5vw;
}

.suggestion a{
    text-decoration: none;
    font-weight: 600;
    color:#5D5FEF;
}

.left-suggestion{
    display: flex;
    align-items: center;
    width: 60%;
}

.left-suggestion h4{
    margin-left: 4%;
}

.friend-suggestions{
    flex-basis: 50%;
    align-self: flex-start;
    margin-top:5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    color: #626262;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.friend-suggestions h4{
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 5%;
}

.friend-suggestions h3{
    font-weight: 600;
    font-size: 30px;
}

.left-sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    position: sticky;
    background-color:#efefef;;
    height:100vh;
}

.right-sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    position: sticky;
    background-color:#efefef;;
    height:100vh;
    margin:0;
    padding: 0%;
}